.form-box {
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-style: solid;
    border-radius: 10px;
  }


  .form-container{
    padding-right: 20px;
    padding-left: 20px;
  }

.submit-button {
    text-align: center;
    margin-top: 10px;
    background-color: #212529;
}

.back-button{
    margin-top: 30px;
    margin-left: 20px;
}

.submit-button:hover {
    background-color: #212529;
    color: rgb(39, 175, 39) !important;
  }

.form-labels {
    font-weight: bold;
}