.menu-box {
  min-width: 500px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-style: solid;
  border-radius: 10px;
}

.main-heading{
  font-size: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.entire-nav{
  font-size: 30px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.788);
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-style:dashed;
  margin: 20px;
}

a:hover {
  color: rgb(39, 175, 39);
}