.entire-nav {
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  padding-left: 0px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.788);
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-style: dashed;
  margin: 20px;
}

a:hover {
  color: rgb(39, 175, 39);
}
